s3_bucket = ""
s3_key = ""
aws_region = "ap-southeast-2"
dynamodb_state_table = ""

workspace_iam_roles = {
    staging    = "arn:aws:iam::324xxxxxx088:role/AdministratorAccess"
    production = "arn:aws:iam::324xxxxxx088:role/AdministratorAccess"
}
